<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flareon Flip</title>
    {{#if menuPage}}
        <link rel="stylesheet" href="/css/menu.css">
    {{/if}}

    {{#if userPage}}
        <link rel="stylesheet" href="/css/signup.css">
        <link rel="stylesheet" href="/css/login.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    {{/if}}
    
    {{#if leaderboardPage}}
         <link rel="stylesheet" href="/css/leaderboard.css">
    {{/if}}

    {{#if profilePage}}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/profile.css" />
    {{/if}}

</head>
    <body>
        {{{body}}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
    
    {{#if userPage}}
        <script src="/js/account.js" type="text/javascript"></script>
    {{/if}}
    {{#if menuPage}}
        <script src="/js/logout.js" type="text/javascript"></script>
    {{/if}}
    {{#if profilePage}}
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="/js/delete.js" type="text/javascript"></script>
    {{/if}}
    </body>
</html>

