<header class="header">
    <h1 class="logo"><a href="#">Flareon Flip</a></h1>
    <ul class="main-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/profile">My Profile</a></li>
        <li><a href="/how-to-play">About</a></li>
        <li><a href="/leaderboard">Leaderboard</a></li>
    </ul>
</header>

<script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-a17aeac0-d5f7-497e-9e29-8a898f8da68e"></div>

<div class="fun-fact">
    <blockquote>
        <i id="quotes">ㅤㅤㅤPress the button for an interesting Flareon Fact!ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</i>
    </blockquote>
    <button class="quote-button">
        <a onclick="newQuote()">Next quote</a>
    </button>
</div>
<div class="flareon-fact">
    <img class="textbox" src="https://i.ibb.co/ySZwV9Y/okemon-dialog-box-pokemon-text-box-11563032997s6jul64mec-1.png"
        width="17%">
    <img class="static" src="https://i.ibb.co/tb9QH7B/flareon-gif-1.png" width="14%">
    <img class="active"
        src="https://64.media.tumblr.com/31d7a5de377cc337fcde5bf77b74e77e/937550501c3990be-7d/s250x400/a096b4ff834e59b34d085c0064de3cdb12996955.gifv"
        width="14%">
</div>

<div class="level">
    <h2>Level: <span id="level">1</span></h2>

</div>
<div class="total">
    <h2>Total Coins: <span id="total-coins">00000</span></h2>
</div>
<div class="coins-current">
    <h2>Coins Collected This Lv: <span id="coins-current">00000</span></h2>
</div>
<div class="game-container">
    <div class="tiles">
        <div class="image-group">
            <div class="group-1">
                <img src="https://i.ibb.co/whzwYPV/My-project.png" class="border" alt="game-tile">
                <img src="https://i.ibb.co/whzwYPV/My-project.png" class="border" alt="game-tile">
                <img src="https://i.ibb.co/whzwYPV/My-project.png" class="border" alt="game-tile">
                <img src="https://i.ibb.co/whzwYPV/My-project.png" class="border" alt="game-tile">
                <img src="https://i.ibb.co/whzwYPV/My-project.png" class="border" alt="game-tile">
                <img src="https://i.ibb.co/qN9DqJK/1666969918542-1.png" class="locator" alt="red-locator">
            </div>
            <div class="group-2">
                <img src="https://i.ibb.co/whzwYPV/My-project.png" class="border" alt="game-tile">
                <img src="https://i.ibb.co/whzwYPV/My-project.png" class="border" alt="game-tile">
                <img src="https://i.ibb.co/whzwYPV/My-project.png" class="border" alt="game-tile">
                <img src="https://i.ibb.co/whzwYPV/My-project.png" class="border" alt="game-tile">
                <img src="https://i.ibb.co/whzwYPV/My-project.png" class="border" alt="game-tile">
                <img src="https://i.ibb.co/DgHTQ0q/1666969998995-1.png" class="locator" alt="green-locator">
            </div>
            <div class="group-3">
                <img src="https://i.ibb.co/whzwYPV/My-project.png" class="border" alt="game-tile">
                <img src="https://i.ibb.co/whzwYPV/My-project.png" class="border" alt="game-tile">
                <img src="https://i.ibb.co/whzwYPV/My-project.png" class="border" alt="game-tile">
                <img src="https://i.ibb.co/whzwYPV/My-project.png" class="border" alt="game-tile">
                <img src="https://i.ibb.co/whzwYPV/My-project.png" class="border" alt="game-tile">
                <img src="https://i.ibb.co/ZmnPkZB/1666969977148-1.png" class="locator" alt="yellow-locator">
            </div>
            <div class="group-4">
                <img src="https://i.ibb.co/whzwYPV/My-project.png" class="border" alt="game-tile">
                <img src="https://i.ibb.co/whzwYPV/My-project.png" class="border" alt="game-tile">
                <img src="https://i.ibb.co/whzwYPV/My-project.png" class="border" alt="game-tile">
                <img src="https://i.ibb.co/whzwYPV/My-project.png" class="border" alt="game-tile">
                <img src="https://i.ibb.co/whzwYPV/My-project.png" class="border" alt="game-tile">
                <img src="https://i.ibb.co/JjJxyz0/1666969958840-1.png" class="locator" alt="blue-locator">
            </div>
            <div class="group-5">
                <img src="https://i.ibb.co/whzwYPV/My-project.png" class="border" alt="game-tile">
                <img src="https://i.ibb.co/whzwYPV/My-project.png" class="border" alt="game-tile">
                <img src="https://i.ibb.co/whzwYPV/My-project.png" class="border" alt="game-tile">
                <img src="https://i.ibb.co/whzwYPV/My-project.png" class="border" alt="game-tile">
                <img src="https://i.ibb.co/whzwYPV/My-project.png" class="border" alt="game-tile">
                <img src="https://i.ibb.co/2P9r3dX/1666970022098-1.png" class="locator" alt="purple-locator">
            </div>
            <div>
                <img src="https://i.ibb.co/qN9DqJK/1666969918542-1.png" class="locator" alt="red-locator">
                <img src="https://i.ibb.co/DgHTQ0q/1666969998995-1.png" class="locator" alt="green-locator">
                <img src="https://i.ibb.co/ZmnPkZB/1666969977148-1.png" class="locator" alt="yellow-locator">
                <img src="https://i.ibb.co/JjJxyz0/1666969958840-1.png" class="locator" alt="blue-locator">
                <img src="https://i.ibb.co/2P9r3dX/1666970022098-1.png" class="locator" alt="purple-locator">
                <div>
                    <div class="numbers">
                        <!-- Vertical (y) -->
                        <div class="vertical">
                            <div class="row_0-1">
                                <h1 id="first-no"> 00 </h1>
                                <h1 id="second-no"> 1 </h1>
                            </div>
                            <div class="row_0-2">
                                <h1 id="third-no"> 00 </h1>
                                <h1 id="fourth-no"> 1 </h1>
                            </div>
                            <div class="row_0-3">
                                <h1 id="fifth-no"> 00 </h1>
                                <h1 id="sixth-no"> 1 </h1>
                            </div>
                            <div class="row_0-4">
                                <h1 id="seventh-no"> 00 </h1>
                                <h1 id="eighth-no"> 1 </h1>
                            </div>
                            <div class="row_0-5">
                                <h1 id="ninth-no"> 00 </h1>
                                <h1 id="tenth-no"> 1 </h1>
                            </div>
                        </div>
                        <!-- Horizontal (x) -->
                        <div class="horizontal">
                            <div class="row_1-0">
                                <h1 id="one-horz-no"> 00 </h1>
                                <h1 id="two-horz-no"> 1 </h1>
                            </div>
                            <div class="row_2-0">
                                <h1 id="three-horz-no"> 00 </h1>
                                <h1 id="four-horz-no"> 1 </h1>
                            </div>
                            <div class="row_3-0">
                                <h1 id="five-horz-no"> 00 </h1>
                                <h1 id="six-horz-no"> 1 </h1>
                            </div>
                            <div class="row_4-0">
                                <h1 id="seven-horz-no"> 00 </h1>
                                <h1 id="eight-horz-no"> 1 </h1>
                            </div>
                            <div class="row_5-0">
                                <h1 id="nine-horz-no"> 00 </h1>
                                <h1 id="ten-horz-no"> 1 </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>