<section class="vh-100 gradient-form background-color">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <img src="https://www.firstbenefits.org/wp-content/uploads/2017/10/placeholder.png" style="width: 100%;" alt="logo">
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2" style="margin-left: -15px">
              <div class="text-black px-3 py-4 p-md-5 mx-md-4">
                <h2 class="mb-4">How to Play:</h2>
                <p class="lead mb-0">Flareon Flip is a small game that revolves around simple math and flipping tiles
                  to get a high score. Along the right side and bottom of the board, you will see two numbers per
                  row/column. The top number designates the sum of the numbers in the row/column and the bottom number
                  designates the amount of flareons (bombs) in the row/column. The goal is to flip all the numbers in
                  that row/column without flipping over a flareon. If a flareon is flipped, you lose. If a number is
                  flipped, your high score will increase by that amount.</p>
                <a href="/"><button style="border-radius:4px; margin-top: 10px; background-color: black; color: orange;">Menu</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>