
	<header class="header">
		<h1 class="logo"><a href="#">Flareon Flip</a></h1>
      <ul class="main-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/profile">Account</a></li>
      </ul>
	</header> 
	
	
	
	<div class="container">
		<div class="leaderboard">
			<div class="head">
				<i class="fas fa-crown"></i>
				<h3>High Score</h3>
			</div>
			<div class="body">
				<ol>
					{{#each scores as |scores|}}
					{{>leaderScore}}
					{{/each}}
				</ol>
			</div>
		</div>
	</div>
