	<div class="container">
		<div class="leaderboard">
			<div class="head">
				<i class="fas fa-crown"></i>
				<h1>Most active Players</h1>
			</div>
			<div class="body">
				<ol>
					<li>
						{{!-- {{#each userLeader.id as |name|}} --}}
						<mark>{{userLeader.name}}</mark>
						<small>{{userLeader.score}}</small>
						{{!-- {{/each}} --}}
					</li>
					</li>
				</ol>
			</div>
		</div>
	</div>
