<div id="menu">
    <div id="menu-items">
        <a href="/profile" class="menu-item">Profile</a>
        <a href="/game" class="menu-item">Play Game</a>
        <a href="/how-to-play" class="menu-item">How to Play</a>
        <a href="/leaderboard" class="menu-item">Leaderboard</a>
        <a href="/logout" class="menu-item">Logout</a>
    </div>
    <div id="menu-background-pattern"></div>
</div>