@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400&family=Press+Start+2P&display=swap');

body {
  background-color: rgb(189, 76, 76);
}

.game-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: sticky;
}
.group-1,
.group-2,
.group-3,
.group-4,
.group-5 {
  position: sticky;
  margin-bottom: 5px;
}
.fun-fact {
  font-size: 16px;
  transform: translate(510px, 188px);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
width: 300px;
background-color: #f4f4f4;
padding: 6px;

}
.quote-button {
  transform: translate(340px, 30px);
}

.border {
  border: rgb(245, 230, 220) solid 4.3px;
  border-radius: 7px;
  max-width: 100px;
  max-height: 100px;
}
.locator {
  position: sticky;
  width: 107px;
  height: 107px;
}
/* Level Text block */
.level {
  position: sticky;
  text-align: center;
  display: inline-block;
  font-size: 13px;
  background-color: rgb(255, 255, 255);
  color: #561919;
  width: 90px;
  height: 45px;
  border: solid 2px rgb(126, 20, 20);
  border-radius: 8px;
  padding: 2px;
  margin-left: 380px;
}
/* Level Text */
/* Total Coin Amount */
.total {
  position: sticky;
  text-align: center;
  display: inline-block;
  font-size: 13px;
  background-color: rgb(255, 255, 255);
  color: #561919;
  width: 230px;
  height: 45px;
  border: solid 2px rgb(126, 20, 20);
  border-radius: 8px;
  padding: 2px;
}
/* Total Coin amount text */

/* Coins during round */
.coins-current {
  position: sticky;
  text-align: center;
  display: inline-block;
  font-size: 13px;
  background-color: rgb(247, 247, 247);
  color: rgb(86, 25, 25);
  width: 300px;
  height: 45px;
  border: solid 2px rgb(126, 20, 20);
  border-radius: 8px;
  padding: 2px;
  margin-bottom: 20px;
}
/* Coins text */

/* Vertical Locator Numbers */
/*Coins (Horiz/row)*/
#first-no {
  transform: translate(615px, -715px);
}
#third-no {
  transform: translate(615px, -738px);
}
#fifth-no {
  transform: translate(615px, -760px);
}
#seventh-no {
  transform: translate(615px, -780px);
}
#ninth-no {
  transform: translate(615px, -800px);
}
/* Number of Flareons in Row */
#second-no {
  transform: translate(635px, -735px);
}
#fourth-no {
  transform: translate(635px, -755px);
}
#sixth-no {
  transform: translate(635px, -775px);
}
#eighth-no {
  transform: translate(635px, -795px);
}
#tenth-no {
  transform: translate(635px, -820px);
}
/* Horizontal Locator Numbers */
/* Coins (Vertical) */
#one-horz-no {
  transform: translate(50px, -825px);
}
#three-horz-no {
  transform: translate(160px, -963px);
}
#five-horz-no {
  transform: translate(270px, -1100px);
}
#seven-horz-no {
  transform: translate(380px, -1240px);
}
#nine-horz-no {
  transform: translate(500px, -1378px);
}
/* Flareons in each Column */
#two-horz-no {
  transform: translate(70px, -840px);
}
#four-horz-no {
  transform: translate(180px, -980px);
}

#six-horz-no {
  transform: translate(290px, -1120px);
}

#eight-horz-no {
  transform: translate(400px, -1256px);
}

#ten-horz-no {
  transform: translate(510px, -1395px);
}
/* Number styling */
.numbers {
  position: sticky;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 17px;
  color: rgb(96, 31, 31);
}
/* Navbar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
	text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
}


.logo {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;

}

.logo a,
.main-nav a {
	padding: 10px 15px;
	text-align: center;
	text-transform: uppercase;
	display: block;
  color: #871515;
  font-family: 'Nunito Sans', sans-serif;
}

.main-nav a {
	color: #871515;
	font-size: .99em;
  font-weight: 600;
}

.main-nav a:hover {
	color: #c87676;
}


.header {
	border: 2px solid #832a2a;
	background: linear-gradient(to right, rgb(255, 153, 0), #ff682cd7);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
  margin-bottom: 50px;
}


/* .image-group {
 
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding-top: calc(100% - 6px);
  margin: 3px;
  
} */

.static:hover {
  opacity:0;
}
.static {
  position:absolute;
  background:#c04a4a
}
.flareon-fact 
{
  
transform: translate(500px, -25px); 
}


.image-group{
  height: 25px;
}

#fact {
  background-color: #f4f4f4; 
  padding: 35px;
  width: 175px;
  height: 35px;
  position: absolute;
  font-size: 17px;
  transform: translate(535px,75px);   
}
@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}
}}