/* Navbar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
	text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
}


.logo {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;

}

.logo a,
.main-nav a {
	padding: 10px 15px;
	text-align: center;
	text-transform: uppercase;
	display: block;
  color: #871515;
  font-family: 'Nunito Sans', sans-serif;
}

.main-nav a {
	color: #871515;
	font-size: .99em;
  font-weight: 600;
}

.main-nav a:hover {
	color: #c87676;
}


.header {
	border: 2px solid #832a2a;
	background: linear-gradient(to right, rgb(255, 153, 0), #ff682cd7);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


.background-color {
  background-color: #000000d7;
  height: 100vh;
}

@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}
}}