@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

body {
  background-color: rgb(189, 76, 76);
}
.game-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.group-1,
.group-2,
.group-3,
.group-4,
.group-5 {
 margin-bottom: 5px;
 
}
.border {
  border: rgb(250, 222, 205) solid 4.3px;
  border-radius: 7px;
}
.locator {
  width: 107px;
  height: 107px;
}
.level {
  text-align: center;
  display: inline-block;
  font-size: 13px;
  background-color: rgb(248, 233, 214);
  color: rgb(86, 25, 25);
  width: 100px;
  height: 45px;
  border: solid 2px rgb(126, 20, 20);
  border-radius: 8px;
  padding: 2px;
  margin-left: 300px;
}
.coins{
  text-align: center;
  display: inline-block;
  font-size: 13px;
  background-color: rgb(248, 233, 214);
  color: rgb(86, 25, 25);
  width: 250px;
  height: 45px;
  border: solid 2px rgb(126, 20, 20);
  border-radius: 8px;
  padding: 2px;
}
.total-coin {
  text-align: center;
  display: inline-block;
  font-size: 13px;
  background-color: rgb(248, 233, 214);
  color: rgb(86, 25, 25);
  width: 400px;
  height: 45px;
  border: solid 2px rgb(126, 20, 20);
  border-radius: 8px;
  padding: 2px;
 margin-bottom: 20px;
}
