.red-text {
  color:#fd510dd7;
}

.gradient-custom-4 {
background: #ff4f4f;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right ,rgb(255, 153, 0), #ff682cd7);

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgb(255, 153, 0), #ff682cd7)
}